body {
    background-color: green;
}
  @media only screen and (orientation:portrait)  {

    body{
        border: 2px solid red;
    }
    
  }
@media only screen and (max-width: 455px) {
    body {
        background-color: aqua;
    }

    .boxes {
        flex-direction: column;
    }
}

.boxes {
    display: flex;
}

.box {
    background-color: steelblue;
    width: 344px;
    height: 344px;
    padding: 3px;
    margin: 4px;
}