*{
    margin: 0;
    padding: 0;
}

:root{
    --color : rgb(38, 233, 194) ;
    --seccolor: rgb(120, 189, 189);
    --mop: 0.6;
}

ul li{
    list-style: none;
    padding: 34px;
    opacity: var(--mop);

    
}

/* local variable */
ul li:first-child{
    --color: orange;
    background-color: var(--color);
}

ul{
    display: flex;
    
}
.nav{
    background-color: var(--color);
    
}

div p{
    background-color: var(--seccolor);
    color: white;
}