* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    min-height: 30rem;
    position: relative;

}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.60;
    position: absolute;
    top: 0;

}

nav span img {
    padding: 20px;
    height: 35px;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
}

.text1 {
    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 10;
    padding-top: 90px;
    font-weight: bold;
}

.text2 {
    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 10;
    font-weight: bold;
}

.text3 {
    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 10;
}

.text4 {
    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 10;
}

.btns {
    z-index: 10;
    position: relative;
    border: none;
    padding: 5px 9px;
    font-weight: lighter;
    background-color: rgb(255, 0, 0);
}

.btn-red1 {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 3px;
}

.btn-red2 {
    background-color: rgba(255, 255, 255, 0.091);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
}

.btn-red3 {
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 17px 40px;
    font-size: 13px;

}

.main input {
    z-index: 10;
    border-radius: 3px;
    padding: 17px 40px;
    font-size: 15px;
    border: none;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.3);
    color: white;

}

.main .textbox {
    position: relative;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    padding: 20px 5px;

}


.line {
    background-color: rgba(58, 57, 57, 0.929);
    height: 6px;
}

.first {
    color: white;
    margin: auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.first .secimg {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}

.secimg img {
    width: 28vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    width: 24vw;
    top: 29px;
    right: 9px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: auto;
}

.first>div :nth-child(1) {
    font-size: 39px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 21px;
    font-weight: bolder;
}


.second {
    color: white;
    margin: auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 200px;
    padding-top: 35px;

}

.second .secimg img {
    margin-right: 32px;
    padding-bottom: 35px;
}

section.second>div {
    display: flex;
    flex-direction: column;
    padding: auto;
}

.second>div :nth-child(1) {
    font-size: 32px;
    font-weight: bolder;
}

.second>div :nth-child(2) {
    font-size: 32px;
    font-weight: bolder;
}



.thired {
    color: white;
    margin: auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.thired.secimg img {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}

.secimg img {
    width: 28vw;
    position: relative;
    z-index: 10;
}


.thired .secimg video {
    position: absolute;
    width: 24vw;
    top: 40px;
    right: 210px;
}

section.thired>div {
    display: flex;
    flex-direction: column;
    padding: auto;
}


.thired>div :nth-child(1) {
    font-size: 39px;
    font-weight: bolder;
}

.thired>div :nth-child(2) {
    font-size: 21px;
    font-weight: bolder;
}


.fourth {
    color: white;
    margin: auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    padding-top: 35px;
}

.fourth .secimg img {
    margin-right: 32px;
    padding-bottom: 35px;
}

section.fourth>div {
    display: flex;
    flex-direction: column;
    padding: auto;
}

.fourth>div :nth-child(1) {
    font-size: 32px;
    font-weight: bolder;
}


.span3 {
    font-size: 15px;

}

.faq h1 {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 2rem;
}

.faq {
    color: white;
    padding: 10px;
    ;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(45, 45, 45);
    padding: 24px;
    margin: 20px auto;
    max-width: 40vw;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox:hover {
    background-color: rgba(129, 127, 127, 0.806);
}

footer span {
    color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 60vw;
    padding: 25px;

}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin: auto;
    max-width: 60vw;

}

.footer-items {
    display: flex;
    flex-direction: column;

}

a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 3px;

}