.cards{
    border: 2px solid black;
    display: flow-root;
}

.card{
    border: solid  red;
}
img{
    float: left;
}

.card:nth-child(3){
    background-color: aquamarine;
    clear: left;
}